* {
    box-sizing: border-box;
}


header {
    display: flex;
    width: 100%;
   
    
}
body {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'roboto', serif;
    min-height: 100vh;
    
}

ul {
    list-style-type: none;

    
}
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1em;

}
.nav ul {
    
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content: space-between;
    
}

a {
    list-style-type: none;
    color: #e5e7eb;
    font-size: 1.5rem;
    text-decoration: none;
}

a:hover {
    opacity: .75;
}




.hero, .footer {
    background-color: #1f2937 ;
}

& p {
    color: #e5e7eb;
    font-size: 1.325rem;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 3em 2em;
    
    
    
}

.content {
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;

    
}
.content h1 {
    color: #f9faf8;
    font-weight: 900;
    font-size: 3rem;
    width: 100%;
}

.text {
    
    width: 35%;

}

.text p {
    margin-bottom: 40px;
}

.btn {
    
    background-color: #3882f6;
    padding: .75rem 2rem;
    border-radius: 100px;
    margin-bottom: 50px;
}

.btn:hover {
    opacity: .75;
}

img {
    border-radius: 20px;
    box-shadow: 4px 4px 4px 4px;
    
}

.footer {
    display: flex;
    justify-content: center;
   
    
    
}

.quote {
    background-color: #e5e7eb;
    display: flex;
    
}




.pictures {
    display: flex;
    gap: 40px;
    justify-content: center;
 
}
.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: .5em;
    
    
}
.box {
    text-align: center;
}
.pictext {
    font-size: 1.4rem;
}

.pictures img {
    margin-bottom: 40px;
}

h2 {

    font-size: 2rem;
    color: #1f2937;
    font-weight: 900;
}

.quote {
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}



.quotetext {
    display: flex;
    flex-direction: column;
    padding: 2em;
    font-size: 2rem;
    font-weight: 300;
    max-width: 70%;
    

}

.quotetext p {
    align-self: flex-end;
    font-weight: 900;
    font-size: 2rem;
    font-family: 'roboto', serif;
    color: black;
    
}

.cta {
    
    background-color: #3882f6;
    border-radius: 5px;
    width: 50%;
    padding: 2em;
    font-size: 1.325rem;
    margin: 20px auto; 
    align-items: center;
    color: white;
}
.bold {
    font-weight: 900;
    display: block;
}

.ctatext {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    align-items: center;
}

.push {
    justify-content: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    
    
}


.subtext {
    flex: 1;
}
.btn--white {
    color: white;
    padding: .75rem 3rem;
    border-radius: 10px;
    border: 3px solid white;
    margin: 0 auto;
    
}